* {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #EEEEEE;
  display: block;
  margin: auto;
  width: 60%;
}

.header {
  padding: 1%;
  background-color: #229954;
  border-bottom: 1px solid black;
  margin-bottom: 1%;
}

.navBar {
  list-style-type: none;;
}

.navBarItem {
  display: inline;
  padding: 10px;
}

a:link, a:visited {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

button {
  padding: 1%;
  margin: 1%;
  left: 140px;
  position: absolute;
}

p {
  position: absolute;
  left: 300px;
  margin: 1%;
  padding: 1%;
}

canvas:-webkit-full-screen {
  width: 100% !important;
}
canvas:-moz-full-screen {
  width: 100% !important;
}
canvas:-ms-fullscreen {
  width: 100% !important;
}
canvas:fullscreen {
  width: 100% !important;
}
